*,
::after,
::before {
  box-sizing: border-box;
}

.item {
  /* width: 33.3333%; */
  border: 1px dashed orange;
  flex: 1 0;
}

/* ==========================header========================= */

.header {
  background-color: #fbfaff;
  padding-top: 20px;
}

.nav {
  width: 1330px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
