:root {
  --primary-color: #5d3bee;
  --secondary-color: #51586a;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.item {
  /* width: 33.3333%; */
  border: 1px dashed orange;
  flex: 1 0;
}

/* ======================common======================== */

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn {
  display: inline-block;
  height: 62px;
  min-width: 170px;
  background-color: var(--primary-color);
  padding: 0px 12px;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

/* ==========================header========================= */

.header {
  background-color: #fbfaff;
  padding-top: 20px;
}

.nav {
  width: 1330px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.nav__mail {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.nav__mail-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #dcd4fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__mail-desc {
  color: #080415;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 136.364%;
  text-decoration: underline;
}

.logo {
  margin-left: 357px;
}

.logo-img {
  height: 100px;
  width: 100px;
}

.navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 8px 21.5px;
}

/* ========================main================== */
/* hero */

.hero {
  padding-top: 44px;
  background-color: #fbfaff;
}

.hero__img {
  width: 514px;
}
